body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    height: 60px;
    width: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
  }
  
  .first::-webkit-color-swatch,
  .second::-webkit-color-swatch{
    border-radius: 50%;
    border: 20px solid #888;
  }